import asyncio
from db import create_tables
asyncio.run(create_tables())


pip install fastapi uvicorn "sqlalchemy[asyncio]" asyncpg pydantic openai python-dotenv
export DATABASE_URL="postgresql+asyncpg://postgres:admin@localhost:5432/fundedflow"
export GEMINI_API_KEY="your_gemini_api_key"
uvicorn api:app --reload


===
fastapi
uvicorn
sqlalchemy[asyncio]
asyncpg
pydantic
plotly
pandas
numpy
python-dotenv
===